/* FONTS */

@font-face {
  font-family: impact;
  src: url(../font/impact/impact.ttf);
}

@font-face {
  font-family: comic;
  src: url(../font/comic/ComicNeue-Regular.ttf);
}

@font-face {
  font-family: vardana;
  src: url(../font/vardana/verdana.ttf);
}
@font-face {
  font-family: montserrat;
  src: url(../font/montserrat/Montserrat-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: montserrat;
  background-color: #e3e3e3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  /* font-family: montserrat; */
  font-weight: bold;
}

/* list helpers */

.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.flex {
  display: flex;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.align-center {
  align-items: center;
}

.flex.flex-column {
  flex-direction: column;
}
.flex.flex-wrap {
  flex-wrap: wrap;
}

.grid {
  display: grid;
  justify-content: center;
}

.grid .self-center {
  justify-self: center;
}

.justify-center {
  justify-content: center;
}

.none {
  display: none;
}

/* Layout */
.main-layout {
  max-width: 600px;
  margin: 0 auto;
}

/* Header */
.main-header {
  background-color: #ff7f00;
}
.header-container {
  height: 66px;
  align-items: center;
}

.main-header .logo {
  color: #fff;
  cursor: pointer;
}
.logo {
  font-size: 2rem;
}

.main-nav {
  display: none;
}
.search-form .search {
  border: none;
  border-bottom: 3px solid black;
  font-size: 1rem;
  font-family: mont;
  width: max-content;
}

/* contact main */

.contact-main {
  background-color: #fff;
}
.contact-main .contact-container {
  padding: 50px 0;
}

/* Social nav */
.fa-linkedin,
.fa-facebook,
.fa-github {
  width: 40px;
  height: 40px;
  background-color: #ff7f00;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 5px;
  color: inherit;
  text-decoration: none;
  font-size: 1.2rem;
}

/* main footer */
.main-footer {
  background-color: #ff7f00;
  padding-bottom: 50px;
  color: #fff;
  position: relative;
  margin-top: -10px;
}

.footer-container {
  padding: 30px;
}
.footer-logo {
  padding: 10px;
  font-weight: bold;
  font-size: 35px;
}

/* about-conatiner */
.about-container {
  height: 85vh;
}
.contact-main .contact-container {
  flex-direction: row;
}

.contact-container .contact-details {
  margin-left: 20px;
  text-align: left;
}

/* Mobile First */
@media (min-width: 820px) {
  .btn-menu {
    display: none;
  }

  .images-container .img-gallery img,
  .meme-container .img-gallery img {
    cursor: pointer;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 12px;
    opacity: 1;
    transition: 0.3s ease-in-out, box-shadow 0.3s;
  }

  .gallery-container .images-container,
  .meme-container {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    margin-bottom: 20px;
  }

  .main-nav {
    display: block;
  }

  .main-layout {
    max-width: 1200px;
  }

  .main-header .main-nav li {
    padding: 18px;
  }
  .gallery-container .search-fillter {
    background-color: white;
    margin-bottom: 20px;
  }
  .gallery-container .search-fillter-container {
    height: 100px;
  }
  .main-header .main-nav li:hover {
    cursor: pointer;
    color: black;
  }

  .main-header .main-nav li:hover > * {
    color: black;
  }

  .main-header .main-nav a.active {
    font-weight: bold;
    color: black;
    padding: 18px;
    box-sizing: content-box;
    box-shadow: 0 5px 0 #000000;
  }

  .main-header .main-nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1875rem;
    line-height: 0.7125;
  }

  .gallery-container .search-fillter-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-main .contact-container {
    flex-direction: row;
  }

  .contact-container .contact-details {
    margin-left: 20px;
    text-align: left;
  }

  .editor-container {
    flex-direction: row;
    margin-bottom: 0;
  }

  .editor-container .canvas-container {
    width: 45%;
  }

  .editor-container .tools-container {
    width: 50%;
    border: 2px solid #c7c7c7;
    padding: 20px;
  }

  .editor-container .btn {
    border: 1px solid #e3e3e3;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer;
  }
}
